In [8]:
with open("ghcnd-stations.txt") as file:
    
    lines = [line.rstrip() for line in file]

    ID_list = [line[:11] for line in lines]

    lat_list = [line[12:20].lstrip() for line in lines]

    lon_list = [line[21:30].lstrip() for line in lines]
    
    state_list = [line[38:40].lstrip() for line in lines]

    station_name_list = [line[41:71].strip() for line in lines]
    
import numpy as np
import pandas as pd

metadata = pd.DataFrame({  
    'ID' : ID_list,
    'Latitude' : lat_list,
    'Longitude' : lon_list,
    'State' : state_list,
    'StationName' : station_name_list
})

metadata['State'] = metadata['State'].replace('', np.nan)
metadata['FIPS'] = metadata.ID.str[:2]

metadata

                 ID  Latitude Longitude State            StationName FIPS
0       ACW00011604   17.1167  -61.7833   NaN  ST JOHNS COOLIDGE FLD   AC
1       ACW00011647   17.1333  -61.7833   NaN               ST JOHNS   AC
2       AE000041196   25.3330   55.5170   NaN    SHARJAH INTER. AIRP   AE
3       AEM00041194   25.2550   55.3640   NaN             DUBAI INTL   AE
4       AEM00041217   24.4330   54.6510   NaN         ABU DHABI INTL   AE
...             ...       ...       ...   ...                    ...  ...
125983  ZI000067969  -21.0500   29.3670   NaN         WEST NICHOLSON   ZI
125984  ZI000067975  -20.0670   30.8670   NaN               MASVINGO   ZI
125985  ZI000067977  -21.0170   31.5830   NaN          BUFFALO RANGE   ZI
125986  ZI000067983  -20.2000   32.6160   NaN               CHIPINGE   ZI
125987  ZI000067991  -22.2170   30.0000   NaN             BEITBRIDGE   ZI

[125988 rows x 6 columns]

In [5]:
with open("ghcnd-countries.txt") as file:
    
    lines = [line.rstrip().split(" ", 1) for line in file]
    
    FIPS = [line[0] for line in lines]
    
    Country = [line[1] for line in lines]
    
metadata1 = pd.DataFrame({  
    'FIPS' : FIPS,
    'Country' : Country
})

metadata1

    FIPS                      Country
0     AC          Antigua and Barbuda
1     AE         United Arab Emirates
2     AF                  Afghanistan
3     AG                      Algeria
4     AJ                   Azerbaijan
..   ...                          ...
214   WI               Western Sahara
215   WQ  Wake Island [United States]
216   WZ                    Swaziland
217   ZA                       Zambia
218   ZI                     Zimbabwe

[219 rows x 2 columns]

In [10]:
final_metedata = pd.merge(metadata, metadata1, on = 'FIPS')
final_metedata.to_csv('station_metadata.csv', index = False)